{% extends "layout.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ '' | url }}css/bootstrap-tokenfield.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ webInfo.h1 }}</h1>
    <form method="post">

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group  {%  if errors['name'] %}has-error{% endif %}">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Distro Name" value="{{ distro.name }}">
                </div>
                {{ generateAlert(errors, 'name') }}
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="inputImage">Image</label>
                    <input type="text" class="form-control" id="inputImage" name="image" placeholder="Distro Image URL" value="{{ distro.image }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group {% if errors['ostype'] %}has-error{%  endif %}">
                    <label for="inputOsType">Os Type</label>
                    {{ generateSelect(['Linux', 'BSD', 'Solaris', 'Other'], distro['ostype'], 'ostype', false) }}
                </div>
                {{  generateAlert(errors, 'ostype') }}
            </div>
            <div class="col-lg-6">
                <div class="form-group{% if errors['status'] %}has-error{% endif %}">
                    <label for="inputStatus">Status</label>
                    {{ generateSelect(["Active", "Dormant", "Discontinued"], distro['status'], 'status') }}
                </div>
                {{ generateAlert(errors, 'status') }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group {% if errors['basedon'] %}has-error{% endif %}">
                    <label for="inputBasedOn">Based On</label>
                    <input type="text" class="form-control" id="inputBasedOn" name="basedon" value="{{ distro.basedon }}" />
                </div>
                {{ generateAlert(errors, 'basedon') }}
            </div>
            <div class="col-lg-3">
                <div class="form-group {% if errors['origin'] %}has-error{% endif %}">
                    <label for="inputOrigin">Origin</label>
                    <input type="text" class="form-control" id="inputOrigin" name="origin" value="{{ distro.origin }}">
                </div>
                {{ generateAlert(errors, 'origin') }}
            </div>
            <div class="col-lg-3">
                <div class="form-group {% if errors['status'] %}has-error{% endif %}">
                    <label for="inputStatus">Status</label>
                    {{ generateSelect(["Active", "Dormant", "Discontinued"], distro['status'], 'status') }}
                </div>
                {{ generateAlert(errors, 'status') }}
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="inputVersion">Version</label>
                    <input type="text" class="form-control" id="inputVersion" name="version" placeholder="Distro Version" value="{{ distro.version }}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group {% if errors['web']['required'] %}has-error{% endif %}">
                    <label for="inputWeb">Web</label>
                    <input type="text" class="form-control" id="inputWeb" name="web" placeholder="Distro Official Web" value="{{ distro.web }}">
                </div>
                {{ generateAlert(errors, 'web') }}
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="inputDoc">Doc</label>
                    <input type="text" class="form-control" id="inputDoc" name="doc" placeholder="Official Doc Website" value="{{ distro.doc }}">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="inputForum">Forums</label>
                    <input type="text" class="form-control" id="inputForum" name="forum" placeholder="Distro Official Forum Website" value="{{ distro.forums }}">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="inputError">Error Tracker</label>
                    <input type="text" class="form-control" id="inputError" name="errorTracker" placeholder="Distro Official Error Tracker Website" value="{{ distro.errorTracker }}">
                </div>
            </div>
        </div>

        <div class="form-group {% if errors['architecture'] %}has-error{% endif %}">
            <label for="inputArchitecture">Architecture</label>
            <input type="text" class="form-control" id="inputArchitecture" name="architecture" value="{{ distro.architecture }}">
        </div>
        {{  generateAlert(errors, 'architecture') }}
        <div class="form-group {% if errors['desktop'] %}has-error{% endif %}">
            <label for="inputDesktop">Desktop</label>
            <input type="text" class="form-control" id="inputDesktop" name="desktop" value="{{  distro.desktop }}">
        </div>
        {{ generateAlert(errors, 'desktop') }}
        <div class="form-group {%  if errors['category'] %}has-error{% endif %}">
            <label for="inputCategory">Category</label>
            <input type="text" class="form-control" id="inputCategory" name="category" value="{{ distro.category }}">
        </div>
        {{ generateAlert(errors, 'category') }}
        <div class="row">

        </div>

        <div class="form-group {% if errors['description'] %}has-error{% endif %}">
            <label for="inputDescription">Description</label>
            <textarea class="form-control" name="description" id="inputDescription" rows="5">{{ distro.description }}</textarea>
        </div>
        {{ generateAlert(errors, 'description') }}

        <input type="hidden" name="_method" value="{{ webInfo.method }}">
        <button type="submit" class="btn btn-default">{{ webInfo.submit }}</button>
    </form>
</div><!-- /.container -->
{% endblock %}

{% block js %}
    <script src="{{ '' | url }}js/bloodhound/bloodhound.js"></script>
    <script src="{{ '' | url }}js/typehead/typehead.js"></script>
    <script src="{{ '' | url }}js/tokenfield/bootstrap-tokenfield.min.js"></script>
    <script src="{{ '' | url }}js/tokenfield/tokenfield-distroada.js"></script>
{% endblock %}