{% extends "layout.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-2">
                    <img src="{{ game.image }}" alt="{{ game.name }}">
                </div>
                <div class="col-lg-10 title">
                    <div class="col-lg-12">
                        <h1>{{ game.name|raw }}</h1>
                    </div>
                </div>

            </div>
            <hr>

            <div class="row data">
                <div class="col-lg-2">
                    <p><strong>Plataformas: </strong></p>
                </div>
                <div class="col-lg-10">
                    {% set platforms = game.platform|split(', ') %}
                    {% for platform in platforms %}
                        <span class="label label-info">{{ platform }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="row data">
                <div class="col-lg-2">
                    <p><strong>Web: </strong></p>
                </div>
                <div class="col-lg-10">
                    <a href="{{ game.web }}" target="_blank">{{ game.name }} Sitio oficial</a>
                </div>
            </div>

            <div class="row data">
                <div class="col-lg-2">
                    <p><strong>Documentacion: </strong></p>
                </div>
                <div class="col-lg-10">
                    <a href="{{ game.doc }}" target="_blank">{{ game.name }} Documentación</a>
                </div>
            </div>

            <div class="row data">
                <div class="col-lg-2">
                    <p><strong>Foros: </strong></p>
                </div>
                <div class="col-lg-10">
                    <a href="{{ game.forums }}" target="_blank">{{ game.name }} Foros</a>
                </div>
            </div>

            <div class="row data">
                <div class="col-lg-2">
                    <p><strong>Error Tracker: </strong></p>
                </div>
                <div class="col-lg-10">
                    <a href="{{ game.error_tracker }}" target="_blank">{{ game.name }} Errores</a>
                </div>
            </div>

            <hr>
            <div class="row data">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Descripción</div>
                        <div class="panel-body">{{ game.description }}</div>
                    </div>
                </div>
            </div>

            <div class="row data">
                <div class="col-lg-12">
                    <form class="form-comment" method="POST" action="">
                        <h2 class="form-comment-heading">Deja tu Comentario</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group  {%  if errors['name'] %}has-error{% endif %}">
                                    <label for="inputName">Nombre</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre de usuario" value="">
                                </div>
                                {{ generateAlert(errors, 'name') }}
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group  {%  if errors['email'] %}has-error{% endif %}">
                                    <label for="inputName">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="email" value="">
                                </div>
                                {{ generateAlert(errors, 'email') }}
                            </div>
                        </div>

                        <div class="form-group {% if errors['comment'] %}has-error{% endif %}">
                            <label for="inputDescription">Comentario</label>
                            <textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
                        </div>
                        {{ generateAlert(errors, 'comment') }}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Añadir Comentario</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <h2>Opiniones de los usuarios</h2>
            {% if comments|length == 0 %}
                <h4>Todavía no hay comentarios</h4>
            {% else %}
                {% for comment in comments %}
                    <h4>Según {{ comment.user }}:</h4>
                    <p>{{ comment.text }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}